<div style="margin-top: 60px; text-align: center;">
	<h3>BE Ultimate is our Sponsor!</h3>
	<p>
		As of 2016, we've partnered with BE Ultimate . Click the image below to navigate to their page!
	</p>
	<a target="_blank" href="https://www.beultimate.com/">
		<img src="http://78.media.tumblr.com/ca8b0e552cd107ff898647bb91218d9d/tumblr_inline_oe1gq3bI6G1t28fmu_500.png"/>
	</a> 
</div>