<div style="margin-top: 60px;">
	<h3>Donations</h3>
	<p>
		Donations are tax deductible as part of Cal Poly’s tax status, to the extent provided by law.<br/>
		<br/>
		Donating to SLOCORE is donating to a club at Cal Poly, which is equivalent to donating to an IRC 501© Not-for-Profit organization, and so “Payments made to Cal Poly are not included in gross income for taxable purposes.”<br/>
		<br/>
		These donations may also be matched by an employer, which will likely need Cal Poly’s federal taxpayer identification number: 77-0209717.<br/>
		<br/>
		For more information, please see: https://afd.calpoly.edu/fiscalservices/tax_services.asp.<br/>
		<br/>
		For monetary donations please fill out the form (following the steps) below. For other types of donations please contact us at cpslocoreultimate@gmail.com<br/>
		<br/>
		1. Enter Donation Amount<br/>
		<br/>
		2. Select “Select College(s) and Program(s) for Pop-Up Menu<br/>
		<br/>
		3. Scroll down to view Pop-Up Menu<br/>
		<br/>
		4. Search for “Ultimate Frisbee Club”<br/>
		<br/>
		5. Select, “Ultimate Frisbee Club”, and click Continue<br/>
		<br/>
		6. Fill out rest of form with your personal information<br/>
		<br/>
		7. Click “Save and Continue”<br/>
		<br/>
		8. Scroll Up to view Billing Information<br/>
		<br/>
		9. Input new information, and make sure it matches your information on your credit card<br/>
		<br/>
		10. Click “Next”<br/>
		<br/>
		11. Review information, and make sure it’s accurate<br/>
		<br/>
		12. Click “Submit”<br/>
		<br/>
		Thank you for supporting SLOCORE!!
	</p>
</div>