<!DOCTYPE html>
<html lang="en">
	<head>
	</head>

	<body>
		<img src="/images/header.jpg" style="width: 100%; margin-top:50px;"/>
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" style="background-image: url('http://cdn.wallpapersafari.com/1/67/5MZGyp.jpg');">
			<div class="container">
				<h1 class="display-3" style="color: #25df14; font-weight: bold;">We are SLOCORE</h1>
				<p style="color: white">
				<i>Welcome to the website of SLOCORE, the Men's Ultimate Frisbee club team at Cal Poly San Luis Obispo. 
				The SLOCORE program comprises A and B teams, both of which compete in the USA Ultimate College Series. 
				Core is a nationally competitive program, with the A-team finishing 9th in the country in 2017 and 13th in 2016.</i>
				</p>
				<p><a class="btn btn-primary btn-lg" href="/about" role="button" style="background-color: gray; border-color: gray">Learn more &raquo;</a></p>
			</div>
			<img src="http://78.media.tumblr.com/4d5284ba95422fc02bb375966db87790/tumblr_inline_oyb520EQIP1t28fmu_500.jpg" style="display: block; margin-left: auto; margin-right: auto;"/>
		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>2018 Roster Selected</h2>
					<p>
						After 5 weeks of open practice and two weeks of tryouts, the roster for the A-team has been set. SLOCORE took 9 new faces, five of whom were freshmen and four of whom join the roster after time on the Core B or as Core A practice players.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>2018 Leadership Announced</h2>
					<p>
						Sophomore Jeremy Dolezal-Ng and seniors Ian Sweeney and Caleb Merriam were elected captains for the upcoming season while
						the Ultimate Club President will be Slater Levey. Coach Peter Raines will depart for Ft. Collins after contributing 4 invaluable years to the program.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
					</p>
			 </div>
				<div class="col-md-4">
					<h2>Core Takes 9th at Nationals</h2>
						<p>SLOCORE traveled to Cincinnati to make their second straight appearance at the USAU College Championships. 
							Despite entering as the 17th overall seed, Core finished 9th after falling to Wisconsin 15-10 in the prequarter round </p>
						<p>
							<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
						</p>
				</div>
			</div>

			<hr>

			<footer>
				<p>&copy; SLOCORE 2017</p>
			</footer>
		</div> <!-- /container -->

	</body>
</html>

