<div style="margin-top: 60px;">
	<h3>Practice</h3>
	<p>
		Practice times, Fall Quarter 2017

		Monday: 7:30-10pm - Lower sports fields
		Thursdays: 7:30-10pm - Lower sports fields
		Saturday: 10am-1pm - Lower sports fields
		Click here to view Map

		On this map the lower sports fields are labeled “misc sports fields”

		Upper fields are labeled “soccer”
	</p>
</div>