<div style="margin-top: 60px;">
	<h3>Roster</h3>
	<p>
	Captains: Ian Sweeney, Caleb Merriam, Jeremy Dolezal-Ng<br/>
	Coaches: Kristie Merkousko, Cody Mills
	</p>
	<p>
		<i>5th Years (2)</i></br>
		Slater Levey</br>
		Simon Krauter</br>
	</p>
	<p>
		<i>4th Years (6)</i></br>
		Caleb Merriam</br>
		Jake Biancur</br>
		Nathan Pettyjohn</br>
		Ian Sweeney</br>
		Dillon Whited</br>
		Sean Liston</br>
	</p>
	<p>
		<i>3rd Years (7)</i></br>
		Hudston Stuck</br>
		Matt Ryan</br>
		Andrew Stratford</br>
		Dean Otsuka</br>
		^ Jansen Selenis</br> 
		* Jackson Rhodes</br>
		* Billy Wilcox</br>
	</p>
	<p>
		<i>2nd Years (7)</i></br>
		Justin Ting</br>
		Theo Watkins</br>
		Morgan Sommer</br>
		Conor Schofield</br>
		Jeremy Dolezal-Ng</br>
		* Chris Kaspar</br>
		^ Ethan Heh</br>
	</p>
	<p>
		<i>1st Years (6)</i></br>
		* Allen Zhai</br>
		* Sam Wedegaertner</br>
		* Orr Goldberg</br>
		* Keaton Bates</br>
		* Nate Johnson</br>
		* Keegan Clark</br>
	</p>
	<p>
	<i>
	* A-Team Rookie</br>
	^ 2017 Practice Player
	</i>
	</p>
</div>