<div style="margin-top: 60px;">
	<h3>About SLOCORE</h3>
	<p>
		SLOCORE is the official Ultimate Frisbee team of Cal Poly, San Luis Obispo. Founded in 1978, it has represented the school in local and national competition with mens and womens teams. SLO CORE competes in the open collegiate divisions of the Southern California section and Southwest region of USA Ultimate.
	</p>
	<p>
		“We play to win, but make sure that we have fun doing it.” -Jason White (‘00-‘05)
	</p>
	<p>
		“I have designed class schedules based on how they fit into the Ultimate season and have daydreamed for countless hours in class about making huge plays on the field.”-Dave Founds (‘03-‘04)
	</p>
	<p>
		SLOCORE finished T-9th at Nationals in 2017 and T-17th in 2016. Our goal is to be a fun and competitive team that continues to grow every year.
	</p>
	<p>
		Captains:
		<ul>
			<li>Jeremy Dolezal-Ng</li>
			<li>Caleb Merriam</li>
			<li>Ian Sweeney</li>
		</ul>
		<br/>
		Coaches:
		<ul>
			<li>Kristie Merkousko</li>
			<li>Cody Mills</li>
		</ul>
	</p>
	<p>
		Social Media Links
		<a href="www.facebook.com/slocoreultimate">Facebook</a>
		<a href="https://twitter.com/CORE_ultimate">Twitter</a>
		<a href="https://www.youtube.com/channel/UCX8L1KqpQna4okfo6I2yGXg">Youtube</a>
	</p>
</div>