<div style="margin-top: 60px;">
	<h3>Contact</h3>
	<p>
		Interested? Contact us!

		Email us at cpslocoreultimate@gmail.com. We check the email regularly so we should get back to you pretty quickly.

		Follow us on Facebook

		Follow us on Twitter

		Subscribe on YouTube

		If you are a player and want to anonymously contact leadership, please submit this form: Player Feedback

		Club President: Slater Levey 
		Phone: (914) 560-6944 
		CP Email: jslevey@calpoly.edu 
		Other Email: slaterlevey@gmail.com
	</p>
</div>