<div style="margin-top: 60px;">
	<h3>Donations</h3>
	<p>
		Donations are tax deductible as part of Cal Poly’s tax status, to the extent provided by law.

		Donating to SLOCORE is donating to a club at Cal Poly, which is equivalent to donating to an IRC 501© Not-for-Profit organization, and so “Payments made to Cal Poly are not included in gross income for taxable purposes.”

		These donations may also be matched by an employer, which will likely need Cal Poly’s federal taxpayer identification number: 77-0209717.

		For more information, please see: https://afd.calpoly.edu/fiscalservices/tax_services.asp.

		For monetary donations please fill out the form (following the steps) below. For other types of donations please contact us at cpslocoreultimate@gmail.com

		1. Enter Donation Amount

		2. Select “Select College(s) and Program(s) for Pop-Up Menu

		3. Scroll down to view Pop-Up Menu

		4. Search for “Ultimate Frisbee Club”

		5. Select, “Ultimate Frisbee Club”, and click Continue

		6. Fill out rest of form with your personal information

		7. Click “Save and Continue”

		8. Scroll Up to view Billing Information

		9. Input new information, and make sure it matches your information on your credit card

		10. Click “Next”

		11. Review information, and make sure it’s accurate

		12. Click “Submit”

		Thank you for supporting SLOCORE!!
	</p>
</div>